*{
    font-family: Arial, Helvetica, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*
  Estilo de las pestañas
*/
.nav-link {
    border: 1px solid lightgray !important;
    color: rgb(52, 52, 52)  !important;
    transition: ease-out 0.2s;
}

.nav-link:hover {
    background-color: lightgray;
    color: black;
    font-weight: bold;
}
/*
    "aria-selected" es la clase que se le asigna automaticamente a la tab activa
    !important se usa para sobrescribir los estilos de Bootstrap.
*/
.nav-tabs .nav-link[aria-selected="true"] {
    background-color: rgb(101, 172, 101) !important;
    color: white !important;
    font-weight: bold;
}

#myTabContent {
    margin: 2em 2em;
    display: flex;
    justify-content: center;
}